neuromodRNN/outputs/
__pycache__/
# Ignore all .pyc files
*.pyc
*.py[cod]
neuromodRNN/new_back_up_before_averaging_and_sparse/
neuromodRNN/src/modRNN/figures/thesis
neuromodRNN/src/modRNN/figures
neuromodRNN/paper_figs/
neuromodRNN/new_figs/
neuromodRNN/figures/
neuromodRNN/tests/
*.svg
*.png
*.pdfmyenv/
.DS_Store
